<section class="section">
  <div class="wrap">
    <div class="cta-band reveal">
      <div>
        <h2>Ready to lead at a whole new level?</h2>
        <p>Join a community of high-calibre executives who share their perspectives to help you become a better leader, make better decisions and get better results.</p>
      </div>
      <div class="actions">
        <a class="btn btn-gold" href="https://vistage.co.uk/membership/member-application/">Become a member</a>
        <a class="btn btn-ghost" href="https://vistage.co.uk/membership/vistage-group-locations/">Find a group</a>
      </div>
    </div>
  </div>
</section>
